@for $i from 1 through 20 {
  .spacer-width-height-#{$i * 10} {
    width: #{$i * 10}px;
    height: #{$i * 10}px;
  }
  .spacer-width-#{$i * 10} {
    width: #{$i * 10}px;
  }
  .spacer-height-#{$i * 10} {
    height: #{$i * 10}px;
  }
}
